@import './variables.scss';
@import './mixins.scss';
@import './fonts.scss';

:root {
  color: $black;
  background-color: $safe-stone;
  font-family: 'IBMPlexSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.row {
  width: 100%;
}

.mini-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  padding-right: 150px;
}

h1 {
  font-family: "TWKEverett";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: left;
  margin: 50px 0 30px;
  @include breakpoint($break-sm) {
    font-size: 34px;
    margin: 0 0 26px;
  }
  @include breakpoint($break-md) {
    font-size: 48px;
    line-height: 74px;
    margin: 30px 0;
  }
}

h2 {
  font-family: "TWKEverett";
  font-style: normal;
  font-weight: 400;
  font-size: 78px;
  line-height: 86px;
  text-align: left;
  margin: 50px 0 30px;
  @include breakpoint($break-sm) {
    font-size: 34px;
    margin: 0 0 26px;
  }
  @include breakpoint($break-md) {
    font-size: 48px;
    line-height: 74px;
    margin: 30px 0;
  }
}

h3 {
  font-family: "TWKEverett";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  margin: 0 0 15px;
  @include breakpoint($break-sm) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 15px;
  }
  @include breakpoint($break-md) {
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 15px;
  }
}

p {
  font-family: "TWKEverett";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  text-align: left;
  margin: 0 0 30px;
}

.link {
  font-family: "TWKEverett";
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  text-decoration-line: none;
  color: $grey-100;
  padding-bottom: 0.3rem;
  transition: transform 600ms cubic-bezier(0.23, 1, 0.32, 1);
  &:hover,
  &:active,
  &:focus {
    text-decoration: line-through;
    cursor: pointer;
  }
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.blue-button {
  color: $white;
  background-color: $ape-blue;
  font-size: 18px;
  font-weight: bold;
  width: 160px;
  height: 55px;
  border: 1px solid $ape-blue;
  border-radius: 30px;
  margin: 10px 1%;
  transition: border-color 0.6s;
  cursor: pointer;
  
  &:hover {
    color: $safe-stone;
    border-color: $safe-graphite;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
.green-button {
  color: $black;
  background-color: $safe-green;
  font-size: 18px;
  font-weight: bold;
  width: 160px;
  height: 55px;
  border: 2px solid $safe-green;
  border-radius: 30px;
  margin: 10px 1%;
  transition: border-color 0.6s;
  cursor: pointer;
  
  &:hover {
    color: $black;
    border-color: $white;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.grey-button {
  color: $safe-graphite;
  background-color: $safe-stone;
  font-size: 18px;
  font-weight: 900;
  width: 160px;
  height: 55px;
  border: 1px solid $safe-stone;
  border-radius: 30px;
  margin: 10px 1%;
  transition: border-color 0.6s;
  cursor: pointer;
  
  &:hover {
    color: $ape-blue;
    border-color: $ape-blue;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.scroll-button {
  color: $safe-graphite;
  background-color: $white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;
  border: 1px solid $white;
  border-radius: 30px;
  margin: 10px 1%;
  cursor: pointer;
  transition: border-color 0.6s;
  
  &:hover {
    border-color: $safe-green;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

button {
  color: $black;
  background-color: $white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;
  width: 160px;
  height: 55px;
  border: 2px solid $white;
  border-radius: 30px;
  margin: 10px 1%;
  cursor: pointer;
  transition: border-color 0.6s;
  
  &:hover {
    border-color: $safe-green;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
