@import './variables.scss';
@import './mixins.scss';
@import './fonts.scss';

:root {
  color: $black;
  background-color: $safe-stone;
  font-family: 'IBMPlexSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  @include breakpoint($break-ssm) {
    width: 100%;
    height: 100%;
  }
}

.notyf .notyf__message {
  font-size: 0.9rem;
}

.row {
  width: 100%;
}

.mini-menu {
  min-width: 136px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  padding-right: 102px;
}

.link {
  font-family: "TWKEverett";
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  text-decoration-line: none;
  color: $grey-100;
  padding-bottom: 0.3rem;
  transition: transform 600ms cubic-bezier(0.23, 1, 0.32, 1);
  &:hover,
  &:active,
  &:focus {
    text-decoration: line-through;
    cursor: pointer;
  }
}



.payment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  margin: 0 auto;

  .input-row {
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
  
    label {
      color: $safe-stone;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      text-align: left;
      margin: 0 0 4px 4px;
    }
    input {
      width: 100%;
      height: 30px;
      color: $black;
      background-color: #fdfdfd;
      border: 1px solid #d9d9d9;
      border-radius: 12px;
      letter-spacing: 1px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 5px;
      padding: 6px 8px;
      text-align: left;
    }
  }
  
  .checkbox-row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px auto 20px;
  
    .checkbox-input {
      width: 20px;
      height: 20px;
      margin: 0 8px 0 16px;
      accent-color: $ape-blue;
      cursor: pointer;
    }
  
    .checkbox-label {
      flex-grow: 1;
      width: auto;
      color: $safe-stone;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      text-align: left;
      cursor: pointer;
    }
  }
  
  input::placeholder {
    color: #a8a8a8;
    letter-spacing: 1px;
  }
  
  input:read-only {
    color: #1a1a1a;
    border: 1px dashed #e0e0e0;
    letter-spacing: 1px;
    cursor: not-allowed;
  }
  
  input:focus {
    border: 1px solid $safe-orange;
    outline: none;
  }
  
  textarea {
    width: 100%;
    height: 60px;
    color: $black;
    background-color: #fdfdfd;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px;
    padding: 2px 10px;
    text-align: left;
    resize: none;
  }
  
  textarea::placeholder {
    color: #a8a8a8;
    letter-spacing: 1px;
  }
  
  textarea:focus {
    border: 1px solid $safe-orange;
    outline: none;
  }

  .button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .button-container-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .button-container-end {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
  }
}

.balance-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

  .account-balance {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    margin: 0 14px;

    .account-icon {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;
      img,
      svg {
        background: transparent;
        object-fit: contain;
        overflow: hidden;
        margin-right: 4px;
        margin-bottom: -2px;
      }
    }
    .account-icon.circle {
      width: 22px;
      height: 22px;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: $white;
      margin-right: 8px;
      margin-bottom: 0;
      img,
      svg {
        display: block;
        height: 22px;
        object-fit: cover;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
      }
    }

    span.account-label {
      width: 96px;
      padding: 2px 4px 4px;
      border-radius: 5px;
      color: $black;
      background: $safe-stone;
      margin-right: 8px;
      text-align: center;
    }

    .account-separator {
      display: inline-flex;
      width: 1px;
      height: 18px;
      margin: 0 8px;
      background-color: rgba(255, 255, 255, 0.5);
    }
    .account-total {
      font-size: 18px;
      line-height: 20px;
      text-align: left;
      margin: 0;
      width: auto;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }
      
}

.button-container-start {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.button-container-end {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.blue-button {
  color: $white;
  background-color: $ape-blue;
  font-size: 18px;
  font-weight: bold;
  width: 160px;
  height: 55px;
  border: 1px solid $ape-blue;
  border-radius: 30px;
  margin: 0;
  transition: border-color 0.6s;
  cursor: pointer;
  
  &:hover {
    color: $safe-stone;
    border-color: $safe-graphite;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
.blue-button-sml {
  color: $white;
  background-color: $ape-blue;
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  height: 35px;
  border: 1px solid $ape-blue;
  border-radius: 12px;
  margin: 0;
  transition: border-color 0.6s;
  cursor: pointer;
  
  &:hover {
    color: $safe-stone;
    border-color: $safe-graphite;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
.green-button {
  color: $black;
  background-color: $safe-green;
  font-size: 18px;
  font-weight: bold;
  width: 160px;
  height: 55px;
  border: 2px solid $safe-green;
  border-radius: 30px;
  margin: 0 5px;
  transition: border-color 0.6s;
  cursor: pointer;
  
  &:hover {
    color: $black;
    border-color: $white;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
.green-button-sml {
  color: $black;
  background-color: $safe-green;
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  height: 35px;
  border: 2px solid $safe-green;
  border-radius: 12px;
  margin: 0;
  transition: border-color 0.6s;
  cursor: pointer;
  
  &:hover {
    color: $black;
    border-color: $white;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.grey-button {
  color: $safe-graphite;
  background-color: $safe-stone;
  font-size: 18px;
  font-weight: 900;
  width: 160px;
  height: 55px;
  border: 1px solid $safe-stone;
  border-radius: 30px;
  margin: 0 5px;
  transition: border-color 0.6s;
  cursor: pointer;
  
  &:hover {
    color: $black;
    border-color: $black;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
.grey-button-sml {
  color: $safe-graphite;
  background-color: $safe-stone;
  font-size: 18px;
  font-weight: 900;
  width: 100px;
  height: 35px;
  border: 1px solid $safe-stone;
  border-radius: 12px;
  margin: 0;
  transition: border-color 0.6s;
  cursor: pointer;
  
  &:hover {
    color: $black;
    border-color: $black;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.scroll-button {
  color: $safe-graphite;
  background-color: $white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;
  border: 1px solid $white;
  border-radius: 30px;
  margin: 0;
  cursor: pointer;
  transition: border-color 0.6s;
  
  &:hover {
    border-color: $safe-green;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

button:disabled {
  border: 1px solid $safe-graphite;
  background: $safe-stone;
  color: #101010;
  cursor: not-allowed;
  transition: border-color 0.6s;
}

// button {
//   color: $black;
//   background-color: $safe-stone;
//   font-family: inherit;
//   font-size: 18px;
//   font-weight: 900;
//   width: 160px;
//   height: 55px;
//   border: 2px solid $white;
//   border-radius: 30px;
//   margin: 0;
//   cursor: pointer;
//   transition: border-color 0.6s;
  
//   &:hover {
//     border-color: $safe-green;
//   }
//   &:focus,
//   &:focus-visible {
//     outline: none;
//   }
// }
